# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment
.env
.env.*
!.env.example

# Build
dist
build
.expo
web-build

# Version Control
.git
.gitignore

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore 